.orders-list-item-container {
  margin-bottom: 15px;
  border: 1px solid transparent;
  border-radius: 16px;
  &_opened {
    border-color: #0984e3;
  }
}

.orders-list-item {
  display: flex;
  padding: 15px 20px;
  background: #0984e3;
  border-radius: 15px;
  color: #fff;
  &_opened {
    margin-bottom: 0;
  }
  &__arrow {
    cursor: pointer;
    border: solid #fff;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transition: 0.5s all;
    &_opened {
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
    }
  }
  & > div {
    margin-right: 15px;
  }
}
