.filter-container {
  &__button {
    background: #0984e3;
    color: #fff;
    border-radius: 5px;
    padding: 5px 9px;
    border: none;
    margin-left: 5px;
    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
}
